.bottom
    display: none
    padding-top: 77px
    background-color: #485368
    overflow: hidden
    &__top
        overflow: hidden
    &__social
        margin-top: 2px
        margin-left: -1px
    &__menu
        float: right
    &__wrap
        overflow: hidden
        padding-top: 59px
        padding-bottom: 42px
        color: #b4bbca
        font-size: 14px
        font-weight: 300
        text-align: center
    &__copyright
        float: left
        margin-top: 7px
    &__adress
        display: inline-block
        margin-top: 6px
        margin-left: -8px
    &__logo
        float: right

.bottom-menu
    &__group
        display: inline-block
        vertical-align: top
        width: 285px
        &:last-child
            width: 161px
    &__link
        margin-bottom: 8px
        float: left
        clear: left
        color: #fff
        font-size: 14px
        flex-wrap: 300
        &:hover
            color: #adadad