.menu
    margin-top: 15px
    overflow: hidden
    padding: 7px 0
    border-top: 2px solid #eeeeee
    font-size: 0
    &__elem
        display: inline-block
        vertical-align: top
        margin-right: 71px
        font-size: 19px
        font-weight: 300
        text-transform: uppercase
        line-height: 45px
        letter-spacing: 1px
        &:last-child
            margin-right: 0
        &:first-child
            margin-left: 6px
        &._active
            color: #a07762