//- index.jade
extends ./templates/head.jade

block title
	title Travel

block content
	.wrapper.header
		.header__social.header-social
			a(href="#").header-social__elem
				object(data="media/img/vk-logo.svg", type="image/svg+xml").header-social__icon._vk
			a(href="#").header-social__elem
				object(data="media/img/facebook-logo.svg", type="image/svg+xml").header-social__icon._facebook
			a(href="#").header-social__elem
				object(data="media/img/twitter-logo.svg", type="image/svg+xml").header-social__icon._twitter
			a(href="#").header-social__elem
				object(data="media/img/odnoklassniki-logo.svg", type="image/svg+xml").header-social__icon._ok
		
		.header__logo
			img.header__image(src="media/img/logo.png", alt="Travel")
			p.header__slogan Мир, который Вы никогда не видели

		.header__backcall
			.header__phone +7 (495) 397-00-78
			.header__phone-text Обратный звонок
		
		.header__menu-opener._close(data-menu-opener)
			.header__line._top
			.header__line._middle
			.header__line._bottom
		
		object.header__callicon(data="media/img/phone.svg", type="image/svg+xml")

	
	.menu(data-menu)
		.wrapper.menu__wrap
			a(href="#").menu__elem._active Главная
			a(href="#").menu__elem О проекте
			a(href="#").menu__elem Туры
			a(href="#").menu__elem Страны
			a(href="#").menu__elem Блог
			a(href="#").menu__elem Сотрудничество
			a(href="#").menu__elem Контакты

	.slider
		.slider__slider
			.slider__arrows
				.slider__prev(data-slider-prev)
					object.slider__icon(data="media/img/arrow.svg", type="image/svg+xml")
				.slider__next(data-slider-next)
					object.slider__icon(data="media/img/arrow.svg", type="image/svg+xml")
			.slider__elem(data-slide="1", data-slide-image="slide01.jpg")
				.slider__wrap
					.slider__title Discover
					.slider__text мир, который вы никогда не видели
			.slider__elem(data-slide="2", data-slide-image="slide02.jpg")
				.slider__wrap
					.slider__title Discover
					.slider__text мир, который вы никогда не видели
			.slider__elem(data-slide="3", data-slide-image="slide03.jpg")
				.slider__wrap
					.slider__title Discover
					.slider__text мир, который вы никогда не видели

	.cities
		//- .cities__arrows
		//- 	.cities__prev(data-cities-prev)
		//- 		object.cities__icon(data="media/img/arrow.svg", type="image/svg+xml")
		//- 	.cities__next(data-cities-next)
		//- 		object.cities__icon(data="media/img/arrow.svg", type="image/svg+xml")
		.wrapper.cities__wrapper
			.cities__prev(data-cities-prev)
				object.cities__icon(data="media/img/arrow.svg", type="image/svg+xml")
			.cities__next(data-cities-next)
				object.cities__icon(data="media/img/arrow.svg", type="image/svg+xml")
			.cities__container(data-cities)
				.cities__elem(style="background: url('media/img/cities01.jpg'); background-size:cover", data-carousel-elem)
					.cities__frame
					.cities__text-wrap
						.cities__text Шоппинг в Париже!
						.cities__text Тебе понравится это!
				.cities__elem(style="background: url('media/img/cities02.jpg'); background-size:cover", data-carousel-elem)
					.cities__frame
					.cities__text-wrap
						.cities__text Парусный спорт в Стокгольме!
						.cities__text Тебе понравится это!
				.cities__elem(style="background: url('media/img/cities03.jpg'); background-size:cover", data-carousel-elem)
					.cities__frame
					.cities__text-wrap
						.cities__text Каякинг в Норвегии!
						.cities__text Тебе понравится это!
				.cities__elem(style="background: url('media/img/cities02.jpg'); background-size:cover", data-carousel-elem)
					.cities__frame
					.cities__text-wrap
						.cities__text Парусный спорт в Стокгольме!
						.cities__text Тебе понравится это!

	.countries
		.wrapper
			.countries__left
				.counties__menu.countries-menu
					a.countries-menu__elem(href="#") Австрия
					a.countries-menu__elem(href="#") Белоруcсия
					a.countries-menu__elem(href="#") Бельгия
					a.countries-menu__elem(href="#") Болгария
					a.countries-menu__elem(href="#") Бразилия
					a.countries-menu__elem(href="#") Великобритания
					a.countries-menu__elem(href="#") Венгрия
					a.countries-menu__elem(href="#") Вьетнам
				
				.countries__title Travel
				.countries__line
				.countries__text
					| Новая Зеландия – ни что иное, как миниатюрная проекция нашего земного шара, крохотные острова в юго-западной части Океании... Это место уже стало культовым среди туристов, бегущих от суеты мегаполисов. Новая Зеландия на своей небольшой территории помещает весь колорит планеты. 
					.countries__subtext Здесь вы найдете бескрайние пляжи, традиционные деревушки, горные долины и большие города, тесно находящиеся друг с другом.
					a.countries__more(href="#") Подробнее
			
			.countries__right
				.countries__image-wrap
					img.countries__image(src="media/img/countries01.jpg", alt="")
	
	.news
		.news__wrap.wrapper
			.news__title Новости
			div
				.news__elem
					img.news__image(src="media/img/news01.jpg")
					.news__text
						.news__date 03.02.2017
						a.news__link(href="#") Новая Зеландия - потерянный рай
				.news__elem
					img.news__image(src="media/img/news02.jpg")
					.news__text
						.news__date 03.02.2017
						a.news__link(href="#") Парусный спорт в Стокгольме! Тебе понравится это!
				.news__elem
					img.news__image(src="media/img/news03.jpg")
					.news__text
						.news__date 03.02.2017
						a.news__link(href="#") Мирное время в Копенгагене
		
			a.news__more(href="#") Все новости
	
	.bottom
		.wrapper
			.bottom__top
				.header__social.header-social.bottom__social
					a(href="#").header-social__elem._bottom
						object(data="media/img/vk-logo.svg", type="image/svg+xml").header-social__icon._vk
					a(href="#").header-social__elem._bottom
						object(data="media/img/facebook-logo.svg", type="image/svg+xml").header-social__icon._facebook
					a(href="#").header-social__elem._bottom
						object(data="media/img/twitter-logo.svg", type="image/svg+xml").header-social__icon._twitter
					a(href="#").header-social__elem._bottom
						object(data="media/img/odnoklassniki-logo.svg", type="image/svg+xml").header-social__icon._ok
					
				.bottom__menu.bottom-menu
					a.bottom-menu__link(href="#") Главная
					a.bottom-menu__link(href="#") О проекте
					a.bottom-menu__link(href="#") Туры
					a.bottom-menu__link(href="#") Страны
					a.bottom-menu__link(href="#") Блог
					a.bottom-menu__link(href="#") Сотрудничество
					a.bottom-menu__link(href="#") Контакты

			.bottom__wrap
				.bottom__adress г. Москва, ст. метро Кузьминки, Волжский бульвар, д.37, корп.1.
				.bottom__copyright © 2017 Travel
				a.bottom__logo(href="#")
					img(src="media/img/id-logo.png", alt="")