//- index.jade
extends ./templates/head.jade

block title
	title Travel

block content
	.wrapper.header
		.header__social.header-social
			a(href="#").header-social__elem
				object(data="media/img/vk-logo.svg", type="image/svg+xml").header-social__icon._vk
			a(href="#").header-social__elem
				object(data="media/img/facebook-logo.svg", type="image/svg+xml").header-social__icon._facebook
			a(href="#").header-social__elem
				object(data="media/img/twitter-logo.svg", type="image/svg+xml").header-social__icon._twitter
			a(href="#").header-social__elem
				object(data="media/img/odnoklassniki-logo.svg", type="image/svg+xml").header-social__icon._ok
		
		.header__logo
			img(src="media/img/logo.png")
			p.header__slogan Мир, который Вы никогда не видели

		.header__backcall
			.header__phone +7 (495) 397-00-78
			.header__phone-text Обратный звонок
	
	.menu
		.wrapper
			a(href="#").menu__elem._active Главная
			a(href="#").menu__elem О проекте
			a(href="#").menu__elem Туры
			a(href="#").menu__elem Страны
			a(href="#").menu__elem Блог
			a(href="#").menu__elem Сотрудничество
			a(href="#").menu__elem Контакты

	.slider
		.slider__elem
			.slider__wrap
				.slider__title Discover
				.slider__text мир, который вы никогда не видели
