body
    overflow-x: hidden
    background-color: #fff
    color: #485368
    +ubuntu
    &._noscroll
        overflow-y: hidden
    +min-screen(768px)
        &._noscroll
            overflow-y: auto

a
    color: #485368
    transition: color .3s
    text-decoration: none
    &:hover, &:active
        color: #a07762

.wrapper
    width: 100%
    +min-screen(1110px)
        width: 1110px
        margin: auto